# Python environment
.venv/
venv/
env/
__pycache__/

# Data & Heavy Files
models/
data/
checkpoints/
result*
outputs/
lightning*
*.pth
*.onnx

# IDEs
.vscode/
.idea/
.DS_Store

# User-specific config
.env