# Python environment
.venv/
venv/
env/
__pycache__/

# Data & Heavy Files (Найважливіше!)
data/**
checkpoints/
results/
outputs/
*.pth
*.onnx

# IDEs
.vscode/
.idea/
.DS_Store

# User-specific config
.env