# Python environment
.venv/
__pycache__/

# Data & Heavy Files
models/
data/
checkpoints/*
!checkpoints/check_checkpoints.py
result*
outputs/
*cache*
*logs*
*.pth
.coverage

# IDEs
.vscode/